<!--Opening the ejs tags for including header file-->

<!-- Creating a form where action will
	be on "/" and the method will be "POST" -->
<form action="/validateToken" method="POST">

	<!-- Creating the parameter Email as type= "text"-->
	<label>Email: </label>
	<input type="email" placeholder="Email" name="email"><br><br>
	<label>token: </label>
	<input type="password" placeholder="token" name="token"><br><br>
	<!-- Creating the submit button -->
	<button>Submit</button>
</form>
<!--Opening the ejs tags for including footer file-->

